body { font-family: 'Open Sans', sans-serif;, sans-serif; }

/* .stories { display : none; } */

.red { background-color : #FF4719; border : 0px solid #CC2900; }
.yellow { background-color : #FFFF66;  border : 0px solid #B2B247;}
.green { background-color : #33CC33; border : 0px solid #248F24; }
.blue { background-color : #0099CC; border : 0px solid #006B8F; }

a { text-decoration : none; }

#timeline { margin-top : 14px; }

#header { margin-top : 10px; margin-left : 10px; }
#heading { margin-right : 20px; font-size : 30px; }

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

div#timeline div.sameColor{ background-color : #739fff; }

.percent {  opacity: 0.75; text-align : center; border : 1px solid #333; font-size : 40px; }

tr { vertical-align : middle; }

.drill { display : none; }


 
.currentOn { opacity: 1.0; 




}


div#header a.selected { text-decoration : none; }
a.drill { text-decoration : underline; }

.storyBlock { margin-top : 3px; margin-bottom : 3px; }

.horizonOn { opacity: 0.75; 

background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .4)));

 }
.futureOn { opacity: 0.35; 

background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(0, 0, 0, .1)));


}

#logo { position : absolute; top : 20px; left : 20px; z-index : -100; }

img { vertical-align:bottom; margin-bottom : 7px; margin-left: -3px; }

.jiraLink {  font-size : 30px; }

.drill { padding : 0px 5px 5px 10px;  }

#roadmapItemPopup { padding : 20px; }

.roadmapItemName { font-size : 14pt; margin-top : 0px; margin-bottom : 0px; }

.redLightbox { background-color : #FFE6E6; border : 4px solid #CC2900; }
.yellowLightbox { background-color : #FFFFE0;  border : 4px solid #B2B247;}
.greenLightbox { background-color : #EBFAEB; border : 4px solid #248F24; }
.blueLightbox { background-color : #E6F0F5; border : 4px solid #006B8F; }

.label { width : 60px; }
.field { width : 60px; }

#workPopup{ display : none;  background-color : #E6F0F5; border : 4px solid #006B8F; padding : 10px; }

.block { width : 10px; height : 15px; float : left; border : 1px solid #000; padding : 0px 10px; margin-left : 5px; margin-top : 1px; margin-bottom : 3px; }
.block a { text-decoration : none; }

.timeline { padding-bottom : 8px; font-family: 'Open Sans', sans-serif; font-size : 16px; text-align : center; }



td { font-size : 11px; font-family :arial; }
table { width : 100%; margin : 0px; }

.roadmapItem { text-align : center; }

a { color : #000; }
a.storyLink { text-decoration : none; color : #000; }

.hidden { display : none; }
.floatLeft { float : left; }

span.storyItem { margin-left : 20px; font-size : 12px; }

div.stories { overflow: hidden;  }
.small { line-height : 125%; padding : 0px 3px; margin-top: 7px; word-wrap: break-word; font-size : 8pt; font-family : arial; }

/* latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  src: local('Cabin SemiBold'), local('Cabin-SemiBold'), url(//fonts.gstatic.com/s/cabin/v7/pOvYyCQeTTtw6RxdlpulSvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}